$active-bg: #cec;
$active-text: #474;
$active-text-darker: #363;
$active-outline: #7a7;
$special-text: #003b5a;
$corner-radius: 1rem;

#main {
  width: 480px;
  margin-top: 1rem;
}

.tab-content > div > .container,  .tab-content > div > .container-fluid {
  min-height: 360px;
  border: solid 1px $active-outline;
  border-radius: 0 0 $corner-radius $corner-radius;
  border-top: none;
  padding: 1rem;
}



#main .nav-link {
  border-radius: $corner-radius $corner-radius 0 0;
}

#main .nav-link.active {
  background-color: $active-bg;
  border-color: $active-outline;
  border-bottom-color: $active-bg;
  color: $active-text;
  font-weight: bold;
}

#main .nav-link {
  background-color: #eee;
  color: #999;
  border-bottom-color: $active-outline;
}

.container.stage {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.cotainer.stage {
  button {
    background-color: $active-text;
    border: solid 1px $active-outline;
    color: white;
    margin-top: 0.5rem;
  }
  button:hover, button:active {
    border: solid 1px $active-outline;
    background-color: $active-text-darker;
  }
}

.banner, .resultMsg {
  padding: 0.5rem 0 0.5rem 0;
}

.banner {
  border-top: 1px solid $active-outline;
  border-bottom: 1px solid $active-outline;
}

.resultMsg, .completionMsg {
  border-bottom: 1px solid $active-outline;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: $active-text-darker;
}

.roll, .complete {
  margin-top: 0.5rem;
}

.plain {
  font-size: 1.1rem;
}

.instruction {
  font-size: 1.5rem;
  font-weight: bold;
  color: $active-text-darker;
  .result {
    color: $special-text;
    text-decoration: underline;
  }
}

.emphasized {
  font-weight: bold;
}



