$active-bg: #cec;
$active-text: #474;
$active-text-darker: #363;
$active-outline: #7a7;
$special-text: #003b5a;
$corner-radius: 1rem;

#main {
  width: 480px;
  margin-top: 1rem;
  .nav-link {
    border-radius: $corner-radius $corner-radius 0 0;
    background-color: #eee;
    color: #999;
    border-bottom-color: $active-outline;
    .active {
      background-color: $active-bg;
      border-color: $active-outline;
      border-bottom-color: $active-bg;
      color: $active-text;
      font-weight: bold;
    }
  }
}

.tab-content > div > .container,  .tab-content > div > .container-fluid {
  min-height: 360px;
  border: solid 1px $active-outline;
  border-radius: 0 0 $corner-radius $corner-radius;
  border-top: none;
  padding: 1rem;
}

.container.stage {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;

  button {
    background-color: $active-text;
    border: solid 1px $active-outline;
    color: white;
    margin-top: 0.5rem;
  }
  button:hover, button:active {
    border: solid 1px $active-outline;
    background-color: $active-text-darker;
  }
}

.stage-banner {
  padding: 0.5rem 0 0.5rem 0;
  border-top: 1px solid $active-outline;
  border-bottom: 1px solid $active-outline;
  font-size: 1.5rem;
  font-weight: bold;
  color: $active-text-darker;
  background-color: $active-bg;
}

.roll, .announcement, .action {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.plain {
  font-size: 1.1rem;
}

.announcement, .action {
  font-size: 1.2rem;
  .callout {
    color: $special-text;
    text-decoration: underline;
  }
  border-bottom: 1px solid $active-outline;
}

.header {
  font-weight: bold;
}



